*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                

body{
    background-color: #E8D2EB;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 8500;
}

.logo-wrapper {
    margin-left: 3%; /* Définissez la marge ici */
    display: inline-block; /* Assurez-vous que le conteneur s'affiche en tant que bloc en ligne */
}
.logo{
    margin-left: 3% !important;
}w
}
.container2{
    width: 100%;
    height: 100vh;
    background: #E8D2EB;
    position: relative;
    overflow: hidden;
}
.menu-icon {
    font-size: 20px;
    font-family: 'playfair dispaly';
    position: absolute;
    top: 30%;
    right: 3%;
    cursor: pointer;
}


.menu-box{
    width: 60%;
    background: #FFFF;
    position: fixed;
    top: -100%;
    left: 10%;
    padding: 50px 100px;
    margin-left: 20%;
    transition: top 1s;
    z-index: 8000;
    position: fixed;

}
.right-links{
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;   
}

.right-links img {
    width: 50px;
    margin-left: 20px;
    cursor: pointer;
}
.menu-links a{
    text-decoration: none;
    color: #000000;
    display: block;
    width: fit-content;
    margin: 30px 0;
    font-size: 36px;
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), auto;
}


.menu-links a:hover{
    font-weight: 1000;
    color: #FFC1CE;
}

/*SECTION MAIN */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
    font-size: 100%;
    font-family: 'Noto Sans', sans-serif;
    color: black;
  }
/*TITRE DE LA PAGE */
.titre-page h1{
    font-family: 'playfair display';
    font-size: 100px ;
    color: #000;
    text-align: center ; 
    margin: 2.6%;
}


/*SECTION Avec les cards s*/
article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #F8F4ED;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
 /* body {
    margin: 0;
    padding: 48px 0;
    font-family: "Figtree", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    background-image: linear-gradient(45deg, #7c9885, #b5b682);
    min-height: 100vh;
  }*/
  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

  /*Pop Up */
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 50px auto;
    padding: 20px;
    background: #F8F4ED;
    border-radius: 5px;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    /*max-height: 30%;*/
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }