*{
    margin: 0;
    padding: 0;
    /*font-family: 'Arial', sans-serif;*/
    box-sizing: border-box;
}

                

body{
    background-color: #CFF0F5;
    border: 0px dotted #7FD1AE;

}


                

header {
    position: fixed;
    width: 100%;
    top: 0;
    /*border: 3px dotted #7FD1AE;*/
    z-index: 8500;
}
.logo{
    margin-left: 3%;
}w
}
.container2{
    width: 100%;
    height: 100vh;
    background: #E8D2EB;
    position: relative;
    overflow: hidden;
}
.menu-icon {
    font-size: 20px;
    font-family: 'playfair dispaly';
    position: absolute;
    top: 30%;
    right: 3%;
    cursor: pointer;
}

.menu-box{
    width: 60%;
    background: #FFFF;
    position: absolute;
    top: -100%;
    left: 10%;
    padding: 50px 100px;
    margin-left: 20%;
    transition: top 1s;
    z-index: 8000;
    position: fixed;

}
.right-links{
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;   
}

.right-links img {
    width: 50px;
    margin-left: 20px;
    cursor: pointer;
}
.menu-links a{
    text-decoration: none;
    color: #000000;
    display: block;
    width: fit-content;
    margin: 30px 0;
    font-size: 36px;
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), auto;
}

/*.menu-links a::after{
    content: '';
    width: 40px;
    height: 5px;
    background: #FFC1CE;
    display: none;
    margin-left: 10px;
    margin-bottom: 5px;
}*/

.menu-links a:hover{
    font-weight: 1000;
    color: #FFC1CE;
}


/*section main*/
.titre-page h1{
    font-family: 'playfair display';
    font-size: 100px ;
    color: #000;
    text-align: center ; 
    margin: 2.6%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}*/

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #006E51;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #006E51;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #006E51;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006E51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -75px;
}

.container.right .date {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #F6D155;
  border: 2px solid #006E51;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006E51;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: #F6D155;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #006E51;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}